body, html { height:100%; }
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow : hidden;

}
body {
    background:	#F5FFFA;
    z-index:-5;
}

#canvas {
	z-index:-10;
}

.green {background-color: #4CAF50;} /* Green */
.blue {background-color: #008CBA;} /* Blue */
.red {background-color: red;} /* Red */ 
.yellow {background-color: yellow; color: black;} /* Gray */ 
.orange {background-color: orange;} /* Black */
